img{
    width: 95%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

/*.personal-detail{
    background-color: #ffb9b9;
}*/

.personal-detail > p {
    font-size: 14px;
}

.media-preview > div > div > p{
    font-size: 12px;
}

/* .content-preview > div > div > .wrap-1 {
    border-right: 2px solid #ffb9b9;
}

div.content-preview.container.m-1 > div > div.col-9 > div > div > h2{
    border-bottom: 2px solid #ffb9b9;
} */