img{
    width: 95%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.personal-detail{
    background-color: #ffb9b9;
}

.personal-detail > p {
    font-size: 14px;
}

.media-preview > div > div > p{
    font-size: 10px;
}